<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        p, a{
            border:10px solid orange;
            padding:5px;
            margin: 20px;
            width: 120px;
            height: auto;
        }
    </style>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nisi.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, et!</p>
    <span><a href="#">Lorem</a>ipsum dolor sit amet.</span>
</body>
</html>