<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
            box-sizing: border-box;
            margin:0;
            padding: 0;
        }
        div{
            margin: 10px;
            width: 150px;
            
        }
        #small{
            border:10px solid gold;
        }
        #large{
            border:30px solid red;
        }
    </style>
</head>
<body>
    <div id="small">hello</div>
    <div id="large">world</div>
</body>
</html>