<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #container{
            background-color: powderblue;
            display: flex;
            height: 200px;
/*            flex-direction: row;*/
/*            flex-direction: row-reverse;*/
/*            flex-direction: column;*/
            flex-direction: column-reverse;
        }
        .item{
            background-color: tomato;
            color: aliceblue;
            border: 1px solid white;
        }
    </style>
</head>
<body>
<!--   #container>.item{$}*5-->
    <div id="container">
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
    </div>
</body>
</html>