<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		img{
			width:300px;
			/* 왼쪽정렬과 같은 효과 */
			float:left;
			margin: 20px;
/*			margin-bottom: 10px;*/
		}
		p{
			border:1px solid gray;
		}
		#second_content{
			clear: both;
		}
	</style>
</head>
<body>
	<img src="images/sample.jpg" alt="sample">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum facere incidunt aliquam nostrum illum, dignissimos nemo qui fugit corporis temporibus error veniam?
	</p>
	<p id="second_content">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ex voluptatem, laboriosam reiciendis dolor nemo, neque nam doloremque dolorem exercitationem!
	</p>
</body>
</html>